*{
  margin: 0px;
  text-align: center;
}

.header{
  font-family: Ubuntu;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 35px;
  background: linear-gradient(to right, #4719aa, #4615b2, #4719aa);
  height: 50px;
  border: 1px solid black;
  margin-bottom: 25px;
  padding: 7px;
  box-shadow: 0px 2px 5px gray;
}

.form{
  margin: 20px 150px 22px 150px;
  padding: 15px 0px 15px 0px;
}

.form>.textField{
  width: 500px;
}

.form>Button{
  width: 20%;
  margin: 5px;
}

.dataRendering{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px 20px 150px;
  padding: 10px;
}

.dataRendering>p{
  font-family: ubuntu;
  font-weight: bold;
  text-transform: capitalize;
}

.dataRendering>div>Button{
  width: 150px;
  margin: 5px;
  align-items: right;
}

.dataRendering>span{
  font-size: 10px;
  position: absolute;
  left: 190px;
  padding-top: 50px;
  font-family: Ubuntu;
  font-weight: 500;
  text-shadow: 0.1px 0.1px 0.8px black;
}